@model VillaDTO

@{
    ViewBag.Title = "Delete Villa";
    Layout = "_Layout";
}

<div class="container p-4 border">
    <h1 class="text-danger"><i class="fas fa-trash-alt me-2"></i>Delete Villa</h1>
    <h4>Are you sure you want to delete this villa?</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Details</dt>
        <dd class="col-sm-10">@Model.Details</dd>

        <dt class="col-sm-2">Amenity</dt>
        <dd class="col-sm-10">@Model.Amenity</dd>

        <dt class="col-sm-2">Rate</dt>
        <dd class="col-sm-10">@Model.Rate.ToString("C")</dd>

        <dt class="col-sm-2">Occupancy</dt>
        <dd class="col-sm-10">@Model.Occupancy</dd>

        <dt class="col-sm-2">Sqft</dt>
        <dd class="col-sm-10">@Model.Sqft</dd>
    </dl>

    <form asp-action="DeleteConfirm" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt me-1"></i>Delete</button>
        <a asp-action="Index" class="btn btn-secondary ms-2"><i class="fas fa-arrow-left me-1"></i>Cancel</a>
    </form>
</div>